<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Superhero Sightings - Ravi Udit</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
    <!-- Navigation -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Superhero Sightings</h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="powers" class="btn btn-outline-primary btn-lg">Super Powers</a>
            </div>
            <div class="col text-center m-3">
                <a href="teams" class="btn btn-outline-primary btn-lg">Teams</a>
            </div>
            <div class="col text-center m-3">
                <a href="supers" class="btn btn-outline-primary btn-lg">Superheroes and Villains</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>
    </div>  
    
    <!-- Edit Team -->
    
    <div class="col-12 m-1 text-center" 
              th:if="${!errors.isEmpty()}">
            <p class="alert alert-danger" th:each="error : ${errors}" 
                th:text="${error.message}">Error message</p>
        </div>
    
    <div class="row m-4 border border-dark">
                <div class="col-3 text-center m-3">
                    <span class="h3">Edit Team</span>
                </div>
                <div class="col-7 text-center m-3">
                    <form action="editTeam" method="POST">
                        <div class="form-group row">
                            <label for="teamName" class="col-3 col-form-label">
                                Team Name</label>
                            <div class="col-9">
                                <input type="text" name="teamName" id="teamName" 
                                       class="form-control" th:value="${team.teamName}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamDesc" class="col-3 col-form-label">
                                Team Description</label>
                            <div class="col-9">
                                <input type="text" name="teamDesc" id="teamDesc" 
                                       class="form-control"  th:value="${team.teamDesc}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamAddress" class="col-3 col-form-label">
                                Team Address</label>
                            <div class="col-9">
                                <input type="text" name="teamAddress" id="teamAddress" 
                                       class="form-control"  th:value="${team.teamAddress}"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="teamContactInfo" class="col-3 col-form-label">
                                Team Contact Info</label>
                            <div class="col-9">
                                <input type="text" name="teamContactInfo" id="teamContactInfo" 
                                       class="form-control"  th:value="${team.teamContactInfo}"/>
                            </div>
                        </div>
                        <input type="hidden" name="teamId" th:value="${team.teamId}"/>
                        <button type="submit" class="btn btn-primary">
                            Update Team</button>
                        <a href="teams" class="btn btn-outline-primary">Cancel</a>
                    </form>
                </div>
     </div>




    <!-- End main body -->
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>