<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Superhero Sightings - Ravi Udit</title>
  </head>
  <body>
    <!-- Main Body of Page -->
    
    <!-- Navigation -->
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1>Superhero Sightings</h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="powers" class="btn btn-outline-primary btn-lg">Super Powers</a>
            </div>
            <div class="col text-center m-3">
                <a href="teams" class="btn btn-outline-primary btn-lg">Teams</a>
            </div>
            <div class="col text-center m-3">
                <a href="supers" class="btn btn-outline-primary btn-lg">Superheroes and Villains</a>
            </div>
            <div class="col text-center m-3">
                <a href="locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="sightings" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>
    </div>
    
    <!-- Details -->
    
    <div class="row m-4 border border-dark">
        <div class="col-6 text-right"><strong>ID</strong></div>
        <div class="col-6 text-left">
                    <span th:text="${hero.id}">hero id</span>
        </div>
        <div class="col-6 text-right"><strong>Hero Name</strong></div>
        <div class="col-6 text-left">
                    <span th:text="${hero.name}">hero name</span>
        </div>
        <div class="col-6 text-right"><strong>Superhero or Supervillain</strong></div>
        <div class="col-6 text-left">
            <span th:text="${hero.isHero} ? 'Superhero':'Supervillian'"></span>
        </div>
        <div class="col-6 text-right"><strong>Superpower</strong></div>
        <div class="col-6 text-left">
                    <span th:text="${hero.superpower.powerName}">hero power</span>
        </div>
        <div class="col-6 text-right"><strong>Affiliations</strong></div>
                <div class="col-6 text-left">
                    <span th:each="team : ${hero.teams}">
                        <span th:text="${team.teamName}">
                            display teams</span><br/>
                    </span>
                </div>
    </div>
    
    <div class="col text-center m-3">
                    <a href="#" th:href="@{/editHero(id=${hero.id})}">Edit</a>
                    <a href="#" th:href="@{/deleteHero(id=${hero.id})}">Delete</a>
    </div>
    
    
    </body>
</html>